<!--esconde el menu     <ion-view hide-nav-bar="true">-->



<ion-view view-title="Granja">
  <ion-content ng-controller="SlideBoxController" scroll="false" padding="true" style=" height: 100%;">
    <!--<ion-list>
      <ion-item ng-repeat="animal in animals" href="#/app/playlists/{{playlist.id}}">
      	<div>
      		<img ng-src="{{animal.img}}" />
      	</div>
        {{animal.name}}
		<button ng-click='animal.audio.play()' volume="0.5" start="0.2">Click me</button>
      </ion-item>
    </ion-list>-->



<!--<ion-slide-box>
    <ion-slide ng-repeat="animal in animals">
        <div class="item item-thumbnail-left">
             <h4 class=" pull-right">{{animal.name}}</h4>

            <p class="pull-right" ng-bind-html="animal.kname"></p>
        </div>
    </ion-slide>
</ion-slide-box>-->

<div class="row" style="background-color:yellow; height: 100%;"  ng-controller="AudioCtrl">
  <!--boton izquierdo-->
  <div class="col-10 col-center" style="background-color:blue">
    <img ng-src="img/icons/play_back.png" ng-click="previousSlide()" class="img-center"/>
  </div>

  <!--slide-->
  <div class="col-80" style="background-color:red">
    <ion-slide-box show-pager="false" auto-play="false" does-continue="true" ng-init="disableSwipe()">
      <ion-slide ng-repeat="animal in animals | orderBy:random">
        <!--name-->
        <div class="row row-top" style="background-color:green">
          <h1 class="name animated infinite pulse slower ">{{animal.name}}</h1>
        </div>
        <!--kname-->
        <div class="row row-top" style="background-color:purple">
          <h3 class="kname">{{animal.kname}}</h3>  
        </div>
        <!--animal image-->
        <div class="row row-top" style="background-color:gray">
          <div class="row row-top">
            <img ng-src="{{animal.img}}" ng-click="playNative('{{animal.name}}','{{animal.audio}}')" class="img-animal animated infinite tada slower img-center"/>
          </div>
        </div>
        <!--footer-->
        <div class="row row-bottom padding-bottom" style="background-color:pink"></div>

      </ion-slide>
    </ion-slide-box>    
  </div>

  <!--boton derecho-->
  <div class="col-10 col-center" style="background-color:blue">
    <img ng-src="img/icons/play.png" ng-click="nextSlide()" class="img-center" /> 
  </div>

</div>





<!--
  <img ng-src="img/icons/play_back.png" ng-click="previousSlide()" />


<ion-slide-box  show-pager="false" auto-play="false" does-continue="true" ng-init="disableSwipe()">
        <ion-slide ng-repeat="animal in animals | orderBy:random">
        

          <h4>{{animal.name}}</h4>       
          <p>{{animal.kname}}</p>  
          <div>
      		<img ng-src="{{animal.img}}" ng-click=" animal.audio.play()" class="animated infinite swing" />
      	</div>

        </ion-slide>
      </ion-slide-box>

 


  <img ng-src="img/icons/play.png" ng-click="nextSlide()" />
-->

  </ion-content>
</ion-view>


