<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
<!--    <ion-nav-bar class="bar-stable" >
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

-->
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>

        

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
  <!--<ion-side-menu expose-aside-when="large">  para tablets  http://mcgivery.com/understanding-ionics-side-menu/  -->
    <!--<ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>-->
    <ion-content>
     <!-- <a class="item" href="#/app/search">
        <img src="img/ionic.png"/>
      </a>-->

<ion-content ng-controller="AudioCtrl">
        <button class="button button_green" ng-click="playNative('ambient', 'sounds/ambient/ambient.mp3')" >native</button>
        <button class="button button_blue" ng-click="playMedia()" >media</button>
        <button class="button button_yellow" ng-click="playWebAudio()" >web</button>
        <hr>
        <button class="button button_green" ng-click="playNativeLoop()" >native loop</button>
        <button class="button button_yellow" ng-click="playWebAudioLoop()" >web loop</button>
        <hr>
        <button class="button button_green" ng-click="stopNative()" >native stop</button>
        <button class="button button_blue" ng-click="stopMedia()" >media stop</button>
        <button class="button button_yellow" ng-click="stopWeb()" >web stop</button>


      </ion-content>


 <div class="submarine-body">
    
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Menu
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Valorar App
       <!-- </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>-->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
