/* Empty. Add your own CSS if you like */

.background, .background .pane, .background .item, .background .item-complex .item-content{
    background-color: #310b44;
}


/*.fondo { height:100%; margin:0; padding:0, font-size:100%; }
div { position:fixed; width:50%; height:50%; padding: 2% }
#div_uno { top:0;   left:0;   background:orange  }
#div_dos { top:0;   left:50%; background:blue    }
#div_tres { top:50%; left:0;   background:green   }
#div_cuatro { top:50%; left:50%; background:red     }
  
img { 
	display: block; 
	text-align: center; 
	margin-left: auto;
	margin-right: auto;
	width: 80%; 
	height: auto; 
}

.titulo {
	text-align: center;
	margin-bottom: 2%;
}*/

.img-center { 
  display: block; 
  text-align: center; 
  margin-left: auto;
  margin-right: auto;

}

 
.slowere {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes swing2 {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  50% {
    -webkit-transform: rotate3d(0, 0, 1, 3deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  75% {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

}

@keyframes swing2 {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  50% {
    -webkit-transform: rotate3d(0, 0, 1, 3deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  75% {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  100% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

}

.swing2 {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing2;
  animation-name: swing2;
}



    .submarine-wrapper {
        height: 300px;
        width: 300px;
        padding: 30px 50px 30px 150px;
        margin: 0 auto 0 auto;
        animation: diving 1s ease-in-out infinite, diving-rotate 1s ease-in-out infinite;

        
       .submarine-body {
           
           width: 150px;
           height: 80px;
           position: absolute;
           margin-top: 50px;
           left: 25px;
           background-color: #47893F;
           border-radius: 40px;
           background: linear-gradient($color2, darken($color2, 10%));
           
        }
        
       }
       


@keyframes diving {
	0% {
         margin-top:5px;
	}
    50% {
		 margin-top:15px;
	}
    
    100% {
		 margin-top:5px;
	}
}

@keyframes diving-rotate {
	0% {
         transform:rotate(0deg); 
	}
    50% {
         transform:rotate(3deg); 
	}
    75% {
        transform:rotate(-1deg); 
	}
    100% {
        transform:rotate(0deg); 
	}
}

   
   

